.contenido
{
    width: 100%;
    min-height: 1000px;
    position: relative;
}

.imagen img
{
    position: absolute;
    left: 1%;
   width: 45%;
    height: 30%;
    align-items: left;
}

.imagen2 img
{
    position: absolute;
    top:60%;
    left: 40%;
   width: 45%;
    height: 43%;
    align-items: left;
}

.text
{
    padding-top: 50px;
    position: absolute;
    left: 50%;
    text-align: justify;
    font-size: 2em;
}

.sub-title
{
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 43%;
    font-size: 2.5em;
    left: 40%;

}

.text2
{
    padding-top: 50px;
    position: relative;
    top: 600px;
    left: 1%;
    text-align: justify;
    font-size: 2em;
}




